*       {
        font-family: 'Dancing Script', cursive;
        text-align: center;
        background-color: rgb(199, 136, 65);
        text-decoration: none;
        }

.main    {
        max-width: 350px;
        margin: 0 auto;
                padding: 20px;        
        }
.Odin   {
        margin-top: 10px;
        padding: 10px;
        font-size: 80px;
        margin-bottom: 0;       
        }
.one, .two, .three {
        color: black;
        font-size: 40px;
        }                    
        

