
.left {
       text-align: left;
       background-color: red;
       color: white;
      }
        
.middle {
        text-align: center;
        background-color: white;
        color: red;
        }
.right {
        text-align: right;
        background-color: red;
        color: white;
       }

p {
    font-size: 20px; 
    font-weight: 700; 
    font-family: 'Times New Roman', Times, serif;
    
    }
